/* variáveis */
:root{
    --body-font:"Arial", "serif";
    --color1:#000;
    --color2:#0c0c23;
    --color3:#022530;
    --color4:#054961;
    --color5:#fff;
    --color6:#ffff00;
    --color7:hsl(0,80%,90%); /* hsl(matriz, saturação, leveza: 0 a 360) */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
     /*Técnica do root Font-size: 62.5% faz a conversão de pixel para rem mais 
    fácil, pois a base para o calculo passar a ser 10 em vez de 16, é possivel 
    fazer com 1rem seja equivalente a 1px*/
    font-size: 62.5%;
}

body{
    background: var(--color3);
    font-family: var(--body-font);
    line-height: 1.5;
}

header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

}

#logo{
    padding: 20px;
    width: 150px;
    height: 100px;
}